@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  transition-property: color, background-color, border-color;
  transition-duration: 300ms;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-50 dark:bg-slate-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-800 rounded-full;
}